.post-form-container input, .post-form-container textarea, .post-form-container select {
  display: block;
  font-size: 1.2em;
}

.post-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 50px auto 50px auto;
  max-width: 100%;
  width: 500px;
  border: 1px solid black;
  padding: 10px;
}

.post-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100vw;
  justify-content: center;
  margin: auto;
}

.post-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  max-width: 800px;
  margin: auto;
  background: rgb(203 223 249);
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.post-card img {
  width: 100%;
  max-height: 100%;
  height: fit-content;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.post-image {
  height: 500px;
  width: 800px;
}
