* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  text-align: center;
}

.home,
.about,
.services,
.contact {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.about {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.services {
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.contact {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.background-image {
  height: 500px;
  background-size: cover;
  background-position: center;
}

.about-image {
  background-image: url('assets/images/haying2.jpeg');
}

.services-image {
  background-image: url('assets/images/studentjumping.jpeg');
}

.contact-image {
  background-image: url('assets/images/youngstudentshowing.jpeg');
}

.text-container {
  padding: 50px;
  text-align: center;
}